---
const caracteristicas_linea1 = [
    "Valoración Geriátrica Integral",
    "Teleconsultas",
    "Medicina Preventiva",
];
const caracteristicas_linea2 = [
    "Síndromes Geriátrico",
    "Cuidados Paliativos",
    "Atención Domiciliaria",
];
---

<section id="Perfil">
    <div class="px-5 md:px-19 py-10">
        <div class="justify-items-center mb-10">
            <h3 class="text-[1.8rem] md:text-[2.15rem] font-bold text-gray-800 mb-2.5">
                Conoce a Tu <span class="text-[#84b6f4]">Geriatra</span>
            </h3>
            <div class="border-b-4 w-20 border-[#84b6f4]"></div>
        </div>
        <div class="flex flex-col-reverse md:flex-row gap-10">
            <div class="flex md:w-1/2 gap-2 items-center">
                <div class="flex w-1/2">
                    <img
                        src="/img/drjuan_1.jpg"
                        class="object-cover w-full h-120 rounded-s-2xl"
                        alt="Paciente del Geriatra"
                    />
                </div>
                <div class="flex flex-col w-1/2 gap-2">
                    <img
                        src="/img/drjuan_2.jpg"
                        class="object-cover w-full h-59 rounded-se-2xl"
                        alt="Paciente del Geriatra"
                    />
                    <img
                        src="/img/drjuan_3.jpg"
                        class="object-cover w-full h-59 object-top rounded-ee-2xl"
                        alt="Paciente del Geriatra"
                    />
                    
                </div>
            </div>
            <div class="flex flex-col md:w-1/2 px-8 py-6 bg-gray-50 rounded-2xl">
                <h4 class="text-[1.3rem] md:text-[1.65rem] font-bold text-gray-800">
                    Dr. Juan Andrés Jambo Mendoza
                </h4>
                <div class="flex gap-3 mt-1 mb-4">
                    <p
                        class="py-0.5 px-2.5 bg-[#84b6f4] text-sm text-white rounded-full"
                    >
                        Geriatra Certificado
                    </p>
                    <p
                        class="py-0.5 px-2.5 bg-[#84b6f4]/95 text-sm text-white rounded-full"
                    >
                        CMP: 081654
                    </p>
                    <p
                        class="py-0.5 px-2.5 bg-[#84b6f4]/95 text-sm text-white rounded-full"
                    >
                        RNE: 046847
                    </p>
                </div>
                <p class="text-gray-700 text-[0.9rem] md:text-base">
                    Con más de una década dedicado al cuidado del adulto mayor,
                    el Dr. Jambo transforma la experiencia médica en un
                    acompañamiento integral para el bienestar. Formado en la
                    Universidad Pedro Ruiz Gallo y especializado en el Hospital
                    Almanzor Aguinaga, entiende que cada paciente tiene una
                    historia única que merece atención personalizada. Su enfoque
                    se centra en preservar la independencia, optimizar la
                    calidad de vida y fortalecer la confianza de sus pacientes
                    para disfrutar plenamente esta etapa de la vida.
                </p>
                <p class="text-[#84b6f4]/95 font-bold md:text-xl text-lg mt-5 mb-3">
                    Especialidades
                </p>
                <div class="flex">
                    <ul class="flex flex-col w-1/2 list-inside text-gray-700 text-[0.9rem] md:text-base">
                        {
                            caracteristicas_linea1.map(
                                (caracteristica: string) => (
                                    <li class="flex items-center gap-4 mb-3">
                                        <span class="bg-[#84b6f4]/95 w-2.5 h-2.5 rounded-full " />
                                        {caracteristica}
                                    </li>
                                ),
                            )
                        }
                    </ul>
                    <ul class="flex flex-col w-1/2 list-inside text-gray-700 text-[0.9rem] md:text-base">
                        {
                            caracteristicas_linea2.map(
                                (caracteristica: string) => (
                                    <li class="flex items-center gap-4 mb-3">
                                        <span class="bg-[#84b6f4]/95 w-2.5 h-2.5 rounded-full" />
                                        {caracteristica}
                                    </li>
                                ),
                            )
                        }
                    </ul>
                </div>
                <div class="flex text-white font-medium gap-4 mt-5">
                    <a href="#form" class="md:text-base text-[0.9rem] flex md:px-6 px-5 md:py-3 py-2.5 bg-[#84b6f4]/95 rounded-full gap-2 cursor-pointer transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-100"
                        >Solicitar Cita <svg
                            class="md:w-6 md:h-6 w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 12H5m14 0-4 4m4-4-4-4"></path>
                        </svg>
                    </a>
                    <a href="cv" class="md:text-base text-[0.9rem] text-[#84b6f4]/95 border-2 border-[#84b6f4]/95 rounded-full md:px-6 px-5 md:py-2 py-2.5 cursor-pointer transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-100">Ver CV Completo</a>
                </div>
            </div>
        </div>
    </div>
</section>
